.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landing-page{
  height: 100%;
  margin-top: 5em;
  margin-bottom: 12em;
}

.ui.input{
  float:right;
  margin-top: -4em;
}

.ui.button{
  font-family: 'Love LetterTW', 'serif';
}

.main-title{
  font-family: 'Love LetterTW', 'serif';
  font-size: 6em;
  margin-right: 7.5em;
}

#yerold{
  font-family: 'Love LetterTW', 'serif';
  font-size: 6em;
  margin-left: 7.5em;
  margin-top: -2.5em;
}

.frame {
  width: 20%;
  position: relative;
  z-index: -1;
  margin-top: -3.3%;
}

.perfume-container{
  background-color: #D3D3D3;
  /* overflow: hidden; */
}

.ui.grid.main{
  height: 600px;
  overflow-y: scroll;
}

.main-cart{
  height:570px;
  overflow-y: scroll;
}

.image.perfume-image{
  width: 70%;
  margin:auto;
}

.extra.content{
  margin-top: 0.5em;
  background-color: #DBF6DB;
}

.cart-container{
  color: white;
  background-color: black;
  height: 100%;
}

.second-title{
  font-family: 'Love LetterTW', 'serif';
  padding-top: 1em;
  padding-bottom: 1em;
}

.perfume-name{
  font-family: 'Love LetterTW', 'Georgia';
  font-size: 18px;
}
.five.wide.column {
  margin-left: 1.6em;
}
